body {
    margin: 0;
    padding: 0;
    background-color: #FBFAF9;
    font-family: 'Rubik', sans-serif;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    align-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000cc;
    border-radius: 5px;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
}

.btn-signup {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
    align-content: center;
}

    .btn-signup:hover {
        background-color: #000000cc;
    }


.right {
    display: none;
}
.loginwith {
    display: block;
    margin-bottom: 20px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

.social-signin {
    margin-bottom: 20px;
    width: 205px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

    .social-signin:hover,
    .social-signin:focus {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    .social-signin:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    .social-signin.facebook {
        background: #32508E;
    }

    .social-signin.twitter {
        background: #55ACEE;
    }

    .social-signin.google {
        background: #DD4B39;
    }
